<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alumnos_y_Asignaturas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Alumnos_y_Asignaturas.Properties.Settings.Alumnos_y_AsignaturasConnectionString"
            connectionString="Data Source=DESKTOP-UI8460A\SQLEXPRESS;Initial Catalog=&quot;Alumnos y Asignaturas&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<applicationSettings>
        <Alumnos_y_Asignaturas.Properties.Settings>
            <setting name="Alumnos_y_Asignaturas_AlumnosAsignaturaWS_MiWS"
                serializeAs="String">
                <value>https://localhost:44324/MiWS.asmx</value>
            </setting>
        </Alumnos_y_Asignaturas.Properties.Settings>
    </applicationSettings>
</configuration>